@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  min-height: 45px;

  background-color: rgba(247, 76, 76, 0.479);
  color: red;

  border-radius: 5px;
}