.App {
  text-align: center;
}
#h2-dinamic {
  color: white;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.555);
}
.red-title {
  background-color: black;
  color: darkred;
  padding: 15px;
  border: 5px solid red;
}
.title {
  background-color: aliceblue;
  color: black;
  padding: 15px;
  border: 5px solid black;
}